<!DOCTYPE html>
<html>
<head>
  <title>AWS Batch Demo</title>
</head>

<body>
  <form action="{{ url_for('.submit_job') }}" method="post">
    <input type="hidden" name="job_name" value="{{ job_name }}">
    <input type="text" id="text-input-data" name="data"><br>
    <input type="button" id="submit" value="Submit Job!">
  </form>
  <hr/>

  <div>
    {% for status, jobs in jobs_grouped_by_status %}
    <h3>{{ status }} jobs:</h3>
    <ul>
      {% for job in jobs %}
      <li>{{ job.id }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</body>
</html>
